.gallery {
  .photo-frame {
    text-align: center;
    vertical-align: middle;
    height: 200px;
    margin-bottom: 16px;

    >div {
      border: 1px solid #E1E2E6;
      height: 100%;
    }

    span {
      display: inline-block;
      width: 1px;
      height: 200px;
      vertical-align: middle;
    }

    img {
      display: inline !important;
      max-height: 90%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}
