.product {
  border: 1px solid #D2D5DA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 220px;
  height: 260px;
  border-radius: 2px;
  text-align: center;
  vertical-align:middle;
  margin: 4px;

  span {
    display: inline-block;
    width: 1px;
    height: 220px;
    vertical-align: middle;
  }

  img {
    display: inline !important;
    max-width: 180px;
    max-height: 220px;
    vertical-align: middle;
  }

  .product-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 49px;
    line-height: 49px;
    font-weight: 600;
    background-color: #F8F8F8;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    width: inherit;
    padding: 0 18px;
  }
}
