.product {
  border: 1px solid #D2D5DA;
  margin: auto;
  width:300px;
}
.product-title {
  text-align: center;
  width:300px;
  margin: auto;
  margin-top: 35px;
  color: #E70012;
  font-size: 1.2em;
}
.product-content {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}